@font-face {
    font-family: DXRigraf-SemiBold;
    src: url("../../assets/font/DXRigraf-SemiBold.otf") format("truetype");
}

@media (min-width: 768px) {

  .mall {
    margin-top: 10rem !important;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 20%;
  }

  .home-body {
    padding: 4em 0;
  }

  h1 {
    padding: 0.4em 23% 0 28%;
    font-size: 6rem;
  }

  .home-container {
    background-color: #E5E5E5;
    font-family: DXRigraf-SemiBold, serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50em;
    height: 25em;

    border-radius: 20px;

    padding-left: 4%;
  }

  .home-sub-container {
    margin: 2rem 2rem;
  }

  .home-group {
    padding-right: 3rem !important;
    margin-bottom: 1rem;
  }

  .login-form-control:focus {
    border-color: #000000;
    color:#000000;
    outline: 0;
  }

  .home-btn {
    font-size: 1.5rem;

    height: 2em;
    width: 20rem;

    color: #000000;
    background-color: #E5E5E5;
    border-color: #000000;
  }

  .home-btn:hover {
    background-color: #d7d7d7;
  }

  .home-btn:focus {
    color: #E5E5E5;
    background-color: #000000;
  }

  .home-btn-border-form {
    //border-style: solid;
    //border-color: #000000;
    //border-width: 5px;
    //border-radius: 0.1rem;

    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
  }

  .home-btn-border-form-right {
    border-right: 2.5px solid #000000;
    border-left: 5px solid #000000;
  }

  .home-btn-border-form-left {
    border-right: 5px solid #000000;
    border-left: 2.5px solid #000000;
  }

  //.login-btn:focus {
  //  color: #E5E5E5;
  //  background-color: #000000;

    //outline: 0;
    //box-shadow: 0 0 0 0.1rem #000000;
  //}

  //.login-btn:hover {
  //  background-color: #d7d7d7;
  //}
}
