<div class="col-md-10 mall cheight home-container">
  <div class="home-sub-container">
    <h1 class="text-uppercase">Zeren</h1>
    <div class="home-body">
      <button (click)="onCreateRoomSubmit()" class="home-btn home-btn-border-form home-btn-border-form-right text-uppercase">
        Create room
      </button>
      <button (click)="onWatchVideoSubmit()" class="home-btn home-btn-border-form home-btn-border-form-left text-uppercase">
        Watch video
      </button>
    </div>
  </div>
</div>
