
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-popup {
  display: block;

  background: #090e15;

  border-radius: 12px;

  width: 20rem;

  //position: fixed;

  //padding: 0 0 30px 0;
}

.button {
  font-size: 1.5rem;

  height: 2em;
  width: 20rem;

  border: none;
}

.show-chat {
  color: #000000;
  background-color: #e5e5e5;
  border-color: #000000;
}

.show-chat:hover {
  background-color: #d7d7d7;
}


//

.mesgs {
	float: left;
	padding: 10px 15px 0 25px;
	width: 100%;
}

.sent_msg p {
	background: #e5e5e5 none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.outgoing_msg p {
  color: #1a253c;
  background-color: #a4a5a5;
}

.incoming_msg {
  overflow: hidden;
  padding: 0 6rem 0 10px;
}

.incoming_msg p {
  color: #a4a5a5;
  background-color: #1a253c;

  border-radius: 5px;
  padding: 0.3rem 0 0.3rem 1rem;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #E5E5E5;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.close-chat {
  background: none;
  border: none;
  margin-bottom: 10px;
}



.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;

  padding-bottom: 10px;
}

//.input_msg_write {
//  display: flex;
//  flex-direction: row;
//}

.write_msg {
  color: #8f9091;
  //background-color: #4d5054;
}

.send_btn {
  border: none;

  background: #939495;
  color: #070b10;

  font-weight: 600;
  text-transform: uppercase;

  width: 4rem;
  height: 2.7rem;
}

.msg_send_btn {
	background: #a4a5a5 none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

.message {
	list-style-type: none;
}

.room {
  background: #428bca;
	height: 33px;
	right: 0;
	top: 11px;
}


//
//
//.video-player-wrapper {
//    max-width: 800px;
//    text-align: center;
//    margin: 0 auto;
//}
//
//.player-list {
//   margin: 0;
//   padding: 0;
//}
//
//.player-list li {
//   list-style: none;
//   padding: 15px 35px;
//   display: block;
//   background: #cccc;
//   cursor: pointer;
//   text-align: left;
//   margin-bottom: 1px;
//}
//
//li.selected {
//    background: #03A9F4 !important;
//}
//
//.media-body {
//
//}
//
//
//
//.chat-messages-show-container{
//   background: #c3c3c3;
//   height: 400px;
//   display: flex;
//   flex-direction: column;
//   overflow: auto;
//}
//.chat-messages-show-list {
//   list-style-type:none;
//   margin: 0;
//   padding: 0;
//}
//.chat-messages-create-container{
//   background: #616161;
//   height: 100px;
//   display: flex;
//   justify-content: center;
//}
//.chat-messages-create-input {
//   padding: 12px;
//   margin: 29px 30px;
//   flex:2
//}
//.chat-messages-create-button {
//   height: 50px;
//   margin: auto 40px;
//   width: 100px;
//}
