<div class="main-container">
<!--  <article class="media content-section">-->
  <div class="media-body">
    <div class="film-metadata">
      <video (play)="playVideo()" (pause)="pauseVideo()" (seeked)="onSeeked()"
             id="videoId" [src]="videoItem.src">
<!--       <video (play)="playVideo()" (pause)="pauseVideo()" (seeked)="onSeeked()"-->
<!--             id="videoId" width="600" height="338">-->
<!--        <source src="Z://Documents//pocorn.mp4" type="video/mp4">-->
      </video>

      <div id="player_controls">

        <input type="image" src="assets/images/play.png" (click)="playVideo()" id="play_button">
        <input type="image" src="assets/images/pause.png" (click)="pauseVideo()" id="pause_button">

<!--        <input type="image" src="assets/images/full_screen.png" (click)="fullScreenVid()" id="full_screen_button">-->

        <img src="assets/images/volume.png" id="volume_img">
        <input type="range" id="change_vol" (change)="changeVolume()" step="0.05" min="0" max="1" value="1">

      </div>

    </div>
  </div>
<!--  </article>-->
<!--  <div class="room">-->
<!--    <p id="{{roomId}}">{{roomId}}</p>-->
<!--  </div>-->
  <button class="button show-chat" id="showChat" (click)="openChat()">SHOW CHAT</button>

  <div class="chat-popup" id="chatForm">
<!--      <h1>CHAT OPEN</h1>-->

      <div class="mesgs">

        <button class="close-chat" (click)="closeChat()">
          <img src="assets/images/close.png" alt="close icon">
        </button>

          <div class="msg_history">
            <li class="message" *ngFor="let chatMessage of messages">
              <div
                *ngIf="
                  chatMessage.username !== currentUser;
                  then incoming_msg;
                  else outgoing_msg
                "
              ></div>

              <ng-template #incoming_msg>
                <div class="incoming_msg">
<!--                  <div class="incoming_msg_img">-->
<!--                    <img-->
<!--                      src="assets/icon/avatar2.png"-->
<!--                      alt="User avatar"-->
<!--                    />-->
<!--                  </div>-->
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p>{{ chatMessage.msg }}</p>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template #outgoing_msg>
                <div class="outgoing_msg">
                  <div class="sent_msg">
                    <p>{{ chatMessage.msg }}</p>
                  </div>
                </div>
              </ng-template>

            </li>
          </div>

          <div class="type_msg">
            <form class="input_msg_write" (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
              <input
                type="text"
                class="write_msg"
                placeholder="Type a message"
                name="newMessage"
                [(ngModel)]="newMessage"
              />
              <button class="send_btn">SEND</button>
<!--              <button class="msg_send_btn" type="submit">-->
<!--                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>-->
<!--              </button>-->


            </form>
          </div>
        </div>

<!--      <div class="chat-messages">-->

<!--           <div class="chat-messages-show-container">-->
<!--             <ul class="chat-messages-show-list">-->
<!--             </ul>-->
<!--           </div>-->

<!--         <div class="chat-messages-create-container">-->

<!--           <input type="text" id="input-message" name="message" class="chat-messages-create-input" placeholder="Type here.." ngModel>-->
<!--           <button  class="button chat-messages-create-button" type="submit">Send</button>-->

<!--           <button class="button close-chat" (click)="closeChat()">CLOSE CHAT</button>-->

<!--         </div>-->
<!--      </div>-->
  </div>
</div>
