.player_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-chat-container {
  width: 100%;
}

/* This page only has the background video,
no need to use more refined selectors. */
video {
  width: 100%;
  height: 100%;
  /* This is necessary for the video to
     stretch and fill the container, otherwise
     it will be wrapped with "bands". Not cool. */
  object-fit: fill;
}

/* The video element will be placed under other elements. */
.video {
    // z-index: 10;
    width: 100%;
}

.c_video:hover .controls {
    transform: translateY(0);
}

.c_video {
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
}

.controls {
    display: flex;
    //flex-direction: row;
    //justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(0) translateY(-5px);
    transition: all 0.3s;
}

.buttons {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.buttons button:before {
    font-family: "Font Awesome 5 Free";
    //display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 28px;
    color: #ffffff;
    font-weight: 900;
}

.buttons button.play:before {
    content: "\f04b";
    // content: url("../../assets/images/play.png");
}

.buttons button.pause:before {
    content: "\f04c";
}

.buttons button.up:before {
    content: "\f028";
}

.buttons button.mute:before {
    content: "\f6a9";
}

.buttons button.off:before {
    content: "\f065";
}

.buttons button.on:before {
    content: "\f066";
}

.left {
  //width: 20%;
  display: flex;
  flex-direction: row;
  //justify-content: flex-start;
  //align-items: center;
}

.all_time {
  color: white;

  padding-left: 20px;
  padding-top: 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //align-items: baseline;
  //margin-bottom: -10px;
}

.slash {
  padding: 0 6px;
}

.playback {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #5c5e5c;
}

.playback_bar {
    height: 10px;
    background-color: #d4d2d2;
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    background-color: #090e15 !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.my_scrollbar {
  --scrollbar-border-radius: 2px;
  --scrollbar-padding: 0px;
  --scrollbar-viewport-margin: 0;
  --scrollbar-track-color: #b9bbba;
  --scrollbar-wrapper-color: #b9bbba;
  --scrollbar-thumb-color: #444444;
  --scrollbar-thumb-hover-color: #2d2d2d;
  --scrollbar-size: 4px;
  --scrollbar-hover-size: 6px;
  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}

.msg_card_body{
    overflow-y: auto;
}
.scroll_content {
    background-color: #4cd137;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.card-header{
    border-radius: 1px 5px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer{
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
  .container{
    align-content: center;
  }
  .search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
  }
  .search:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
  box-shadow:none !important;
  outline:0 !important;
}
.attach_btn{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.chat_send_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.chat_send_btn:focus{
    box-shadow:none !important;
    outline:0 !important;
}

  .search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .contacts{
    list-style: none;
    padding: 0;
  }
  .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
  }
.active{
    background-color: rgba(0,0,0,0.3);
}
  .user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

  }
  .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

  }
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
  position: absolute;
  height: 15px;
  width:15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border:1.5px solid white;
}
.offline{
  background-color: #c23616 !important;
}
.user_info{
  //margin-top: auto;
  //margin-bottom: auto;
  //margin-left: 5px;
  left: 10px;
  top: 10px;
}
.user_info span{
  font-size: 20px;
  color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}

.users_count{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
.users_count p{
padding-top: 6px;
font-size: 12px;
color: rgba(255,255,255,0.6);
}

.chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    margin: 1px 0 2px;
    position: relative;
    text-align: center;
}

.video_cam{
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer_incoming{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  // min-width: 45px;
}
.msg_cotainer_outcoming{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #8b8e8b;
  padding: 10px;
  position: relative;
  // min-width: 45px;
}

.msg_objs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.msg_time_incoming{
    // case when time is out of container. Need to discuss
    //right: 0;
    //bottom: -15px;
    //color: rgba(255, 255, 255, 0.5);
    //font-size: 10px;
    //margin-right: 10px;
    //position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right:0;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    margin-right: 3px;
}
.msg_time_outcoming{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    right:0;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    margin-right: 3px;
}

.username_outcoming {
    top: 15px;
    color: #b60f0f;
    font-size: 15px;
    margin-left: 5px;
}

.username_incoming {
  top: 15px;
  color: #b60f0f;
  font-size: 15px;
  font-weight: bold;
  // margin-left: 5px;
}

.msg_head{
  position: relative;
  padding-bottom: 0;
}

#close_chat_btn{
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

@media(max-width: 576px){
.contacts_card{
  margin-bottom: 15px !important;
}
}

.chat-popup {
  display: block;
  background: #090e15;
  border-radius: 12px;
  width: 20rem;
  margin: auto;
  //position: fixed;
  //padding: 0 0 30px 0;
}

figure {
  max-width: 64rem;
  width: 100%;
  max-height: 30.875rem;
  height: 100%;
  margin: 1.25rem auto;
  padding: 1.051%;
  //background-color: #090e15;
}

input[type="image"] {
  float: left;
  height: 20px;
  margin-left: 2px;
  margin-right: 5px;
  margin-top: 2px;
}

#volume_img {
  margin-left: 150px;
  width: 20px;
}

.button {
  font-size: 1.5rem;

  height: 2em;
  width: 20rem;

  border: none;
}

.show-chat {
  color: #000000;
  background-color: #e5e5e5;
  border-color: #000000;
}

.show-chat:hover {
  background-color: #d7d7d7;
}


//

.mesgs {
	float: left;
	padding: 10px 15px 0 25px;
	width: 100%;
}

.sent_msg p {
	background: #e5e5e5 none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.outgoing_msg p {
  color: #1a253c;
  background-color: #a4a5a5;
}

.incoming_msg {
  overflow: hidden;
  padding: 0 6rem 0 10px;
}

.incoming_msg p {
  color: #a4a5a5;
  background-color: #1a253c;

  border-radius: 5px;
  padding: 0.3rem 0 0.3rem 1rem;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #E5E5E5;
	font-size: 15px;
	min-height: 48px;
	// width: 100%;
}

.close-chat {
  background: none;
  border: none;
  margin-bottom: 10px;
}



//.type_msg {
//	border-top: 1px solid #c4c4c4;
//	position: relative;
//
//  padding-bottom: 10px;
//}

//.input_msg_write {
//  display: flex;
//  flex-direction: row;
//}

.write_msg {
  color: #8f9091;
  //background-color: #4d5054;
}

.send_btn {
  border: none;

  background: #939495;
  color: #070b10;

  font-weight: 600;
  text-transform: uppercase;

  width: 4rem;
  height: 2.7rem;
}

.msg_send_btn {
	background: #a4a5a5 none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

.message {
	list-style-type: none;
}

.room {
  background: #428bca;
	height: 33px;
	right: 0;
	top: 11px;
}


//
//
//.video-player-wrapper {
//    max-width: 800px;
//    text-align: center;
//    margin: 0 auto;
//}
//
//.player-list {
//   margin: 0;
//   padding: 0;
//}
//
//.player-list li {
//   list-style: none;
//   padding: 15px 35px;
//   display: block;
//   background: #cccc;
//   cursor: pointer;
//   text-align: left;
//   margin-bottom: 1px;
//}
//
//li.selected {
//    background: #03A9F4 !important;
//}
//
//.media-body {
//
//}
//
//
//
//.chat-messages-show-container{
//   background: #c3c3c3;
//   height: 400px;
//   display: flex;
//   flex-direction: column;
//   overflow: auto;
//}
//.chat-messages-show-list {
//   list-style-type:none;
//   margin: 0;
//   padding: 0;
//}
//.chat-messages-create-container{
//   background: #616161;
//   height: 100px;
//   display: flex;
//   justify-content: center;
//}
//.chat-messages-create-input {
//   padding: 12px;
//   margin: 29px 30px;
//   flex:2
//}
//.chat-messages-create-button {
//   height: 50px;
//   margin: auto 40px;
//   width: 100px;
//}
